.completedRow{
    color: gray;
    height: 35px;
    th {
        border-bottom: 2px solid #818E94;
    }
}

#searchResult {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    font-size: 22px;
}