#searchArea {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    height: 70px;

    input {
        height: 40px;
        font-size: 13px;
    }

    button {
        height: 46px;
        background-color: white;
        color: #888888;
    }
}