@import './styles/Modal';
@import './styles/CompletedList';
@import './styles/CompletedListItem';
@import './styles/Navbar';
@import './styles/Search';
@import './styles/TodoButton';
@import './styles/TodoCard';
@import './styles/TodoCardList';

#jippi {
    margin: 100px;
    text-align: center;
    font-size: 40px;
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


